* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

html, body {
  background: #000;
  color: #FFF;
  height: 100%;
}

#content {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
}

#pages {
  flex-grow: 1;
  flex-shrink: 50;
  overflow: hidden;
}

footer {
  height: 45px;
  line-height: 45px;
  background: #D78748;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

footer a {
  color: white;
  text-decoration: none;
}

footer #back {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

footer #syncDesc {
  flex-grow: 1;
  text-align: center;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}

#syncIcon[data-status='error'] {
  background-image: url(icon_4627.svg);
}

#syncIcon[data-status='synced'] {
  background-image: url(icon_2888.svg);
}

#syncIcon[data-status='syncing'] {
  animation: 1.5s spinner-animation infinite steps(30);
  background-image: url(icon_2888.svg);
}

@keyframes spinner-animation {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page[data-url='/sync/'] {
  background: white;
  color: #333;
  text-shadow: none;
  padding: 15px;
}

li button {
  font-size: 18px;
  outline: 0 !important;
}

#newItem, #newList, header {
  display: flex;
  flex-flow: row;
  flex-direction: row;
}

.icon {
  flex-shrink: 0;
  display: block;
  width: 45px;
  height: 45px;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}

#back {
  background-image: url(icon_11515.svg);
}

#sync {
  background-image: url(icon_72183.svg);
}

#syncPanel {
  background: #333;
}

#syncPanel form {
  display: flex;
  flex-direction: row;
}

input, textarea, h2 {
  border: 0;
  display: block;
  padding: 15px;
  flex-grow: 1;
}

#newList input[type=submit],
#newItem input[type=submit] {
  display: none;
}

textarea {
  height: 45px;
  resize: none;
}

#items {
  transition: all 0.5s;
}

ul {
  list-style-type: none;
}

li {
  display: block;
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-direction: row;
}

input {
  background: transparent;
  color: white;
}

::-moz-placeholder {
   color: #CCC;
}

li a {
  flex-grow: 2;
  display: block;
  padding: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #FFF;
}

li a {
  text-decoration: none;
}

#items li[data-status=done] button {
  color: black;
}

li[data-status=done] a {
  color: #333;
  background: transparent;
  text-decoration: line-through;
}

.editing li {
  z-index: -1;
}

#cover {
  display: block;
  transition: all 0.5s;
  background: rgba(0, 0, 0, .7);
  opacity: 0;
  position: absolute;
  top: 52px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  pointer-events: none;
}

.editing #cover {
  pointer-events: all;
  opacity: 1;
}

.editing li.editing {
  z-index: 3;
}

#items li button {
  width: 52px;
  height: 52px;
  border: 0;
  background: transparent;
  color: #000;
  opacity: 0.2;
  outline: none;
  flex-shrink: 0;
}

#lists li span {
  display: block;
  width: 52px;
  height: 52px;
  flex-shrink: 0;
  text-align: center;
  line-height: 52px;
  background: rgba(255, 255, 255, 0.1);
}

body {
  transition: all 0.5s;
}

body[data-url="/home/"] .page[data-url="/home/"] {
  display: block;
}
body[data-url="/sync/"] .page[data-url="/sync/"] {
  display: block;
}
body[data-url^="/list/"] .page[data-url="/list/"] {
  display: block;
}

.page {
  display: none;
  overflow-y: auto;
  height: 100%;
  position: relative;
}

#syncSubmit {
  background: #222;
  border-left: 1px solid #444;
}

#email {
  background: #000;
}

[data-url='/sync/'] > div {
  display: none;
}