#sync {
  padding: 10px;
}

#signin, #signout {
  display: none;
  float: left;
}

[data-loggedin=true] #signout, [data-loggedin=false] #signin {
  display: block;
}

#spinner {
  opacity: 0.2;
  margin: 10px;
  float: right;
}